# Tells Next.js we're in development mode.
NODE_ENV="development"

# Comma separated list of domains where your images are hosted on.
# See https://nextjs.org/docs/basic-features/image-optimization#domains
NEXT_PUBLIC_IMAGE_DOMAINS="example.com, example2.com"