.breadcrumb {
	@apply flex items-center min-h-[48px] bg-dark-gray-700 bg-opacity-10 py-2;

	ol {
		@apply flex flex-wrap items-center gap-2;
	}

	&_item {
		@apply flex items-center space-x-2 text-gray-400 select-none;

		a,
		a:link,
		a:visited,
		span {
			@apply block text-current text-sm font-normal capitalize;

			@screen lg {
				@apply text-base;
			}
		}

		a:hover,
		a:link:hover,
		a:visited:hover {
			@apply text-gray-100;
		}

		span > svg {
			@apply w-2.5 h-2.5;

			@screen lg {
				@apply w-3 h-3;
			}
		}
	}

	&_item_active {
		@apply text-gray-100;
	}
}
